.container {
}

.todo {
  margin: 5rem 9rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__header {
    color: seashell;
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #fdcb6e;
    font-size: 3rem;
  }
}

.btn {
  cursor: pointer;
  border: none;
  background-color: rgb(85, 102, 253);
  margin: 1rem;
  padding: 0.7rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  color: #fff;
}

.btn:hover {
  background-color: rgb(84, 97, 214);
  transform: rotate(-2deg);
}

.done {
  text-decoration: line-through;
}

.footer {
  margin-top: 3rem;
  color: white;
}
