/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');

/*Base*/
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
  background-image: url('background.png');
}
